<%- include('../partials/header') %>

    <h1>Skills</h1>
    <ul>
        <% skills.forEach(function(s) { %>
            <li>
                <a href="/skills/<%= s.id %>"><%= s.id %></a> 
                -
                <%= s.computerLanguage %>
                -
                <%= s.skillLevel %>
            </li>
            <% }); %>
    </ul>
    
<%- include('../partials/footer') %>