<%- include('../partials/header') %>

    <h3>Skills Details - #<%= skill.id %></h3>
    <h3><%= skill.computerLanguage %></h3>
    <h3><%= skill.skillLevel %></h3>  

<%- include('../partials/footer') %>